name: MacOS tests
on:
  pull_request: {}
  push: {}

jobs:

  build:
    name: Build
    runs-on: macos-latest
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v4.0.1
        with:
          go-version: ^1.18
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Build Test
        run: |
          make

      - name: Run unit tests on MacOS
        run: go test -v -race ./pkg/...
